@font-face {
	font-family: josephin;
	src: url('fonts/JosephinSans-Thin.ttf');
}

body {
  background-color: #f7eecf;
  font-family: 'Open Sans', Calibri, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.navbar-inverse {
  height: 50px;
  background-color: #609490;
}

.navbar-inverse a {
	color: #fff;
}

/* navbar */
.navbar-default {
    background-color: #609490;
    border-color: #609490;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

.navbar-header .navbar-toggle {
	background-color: #70aca0;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
	background-color: #90ccc0;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar ul li:hover{
	background-color: #90ccc0;
}

h2 {
  font-align: left;
  font-size: 2.375em;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggle {
	float:right;
}

.brand {
	font-size: 1.675em;
	font-family: 'Josefin Sans';
	letter-spacing: -0.04em;
}

.navbar {
	margin-bottom: 0;
	font-size: 1.35em;
}

.header-graphic {
  height: 450px;
  background: #a6c2b3 url("images/office-blur-letterbox.jpg") top center no-repeat;
  overflow: hidden;
  background-size: 2000px;
  margin-top: 0;
  padding-top: 0;
}

#finger {
	padding: 0;
}

.intro-text {
  text-align: left;
  margin-top: 35px;
  border-radius: 15px;
  padding: 40px;
  color: #ffffff;
  background-color: rgba(100,100,100,0.75);
}

.title {
  font-size: 64px;
  padding: 0;
  margin: 0;
  font-family: 'Ledger', Garamond, serif;
}

.description {
	line-height: 150%;
}

.call-to-action {
  white-space: normal;
  background-color: #b91818;
  border-radius: 15px;
  padding: 20px 10px 10px 10px;
  margin: 20px 0 0 0;
}

.call-to-action a {
  color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.call-to-action p {
  text-align: center;
  font-size: 28px;
}

.mockup {
	padding: 0;
}

.mockup-narrow {
  padding: 20px 10px 0 10px;
  width: 100%;
}

.row {
	margin-top: 20px;
}

.footer {
  background-color: #000000;
  color: #f7eecf;
  padding-bottom: 10px;
}

.copyright {
  text-align: right;
}